/**************** COMMON *****************/
img {
    max-width: 100%;
}

/******************* ROOT ****************/
:root {
    /* common */
    --primary-text-color:#ffffff;
    --gb-color-primary: #1ABC9C;
}

/***************** UTILITIES **************/

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.space-btw{
    justify-content: space-between;
}

.space-rnd {
    justify-content: space-around;
}

.space-vnl{
    justify-content: space-evenly;
}

/************* NAVIGATION ***************/
nav {
    background-color: #2C3E50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* debug */
    height: 80px;
}

/***************** HERO *****************/
.hero{
    width: 100%;
    background-color: var(--gb-color-primary);

}

.wrapper {
    width: 80%;
    /* debug */
    margin-top: 7rem;
}

.photo {
    /* debug */
    width: 40%;
    aspect-ratio: 1/1;
    background-color: yellow;
}

.name {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: bold;
}

.jobs {
    color: var(--primary-text-color);
    font-size: 1rem;
}

/*************** PORTFOLIO ****************/

[class*="prj-"] {
    /* debug */
    height: 250px;
    border: 1px solid black;
}

.prj-1{
    background-color: #BA4B63;
}

.prj-2{
    background-color: #1EA4B6;
}

.prj-3{
    background-color: #140F0F;
}

.prj-4{
    background-color: #1C83C1;
}

.prj-5{
    background-color: #0E38B5;
}

.prj-6{
    background-color: #CCB2A3;
}

/****************** ABOUT ******************/
.about {
    background-color: var(--gb-color-primary);
    color: var(--primary-text-color);
}

/******************* CONTACT ME ************/
