/**************** COMMON *****************/
img {
    max-width: 100%;
}

.wrapper {
    padding: 0 2rem;
    width: 100%;
}

/******************* ROOT ****************/
:root {
    /* common */
    --primary-text-color: #ffffff;
    --gb-color-primary: #1ABC9C;
    --footer_top-bg-color: #3A546D;
    --footer_bottom-bg-color: #2C3E50;
    --nav-bg-color: #2C3E50;
}

/***************** UTILITIES **************/
.flex-center {
    justify-content: center;
    align-items: center;
}

/************* NAVIGATION ***************/
.header {
    background-color: var(--nav-bg-color);
    width: 100%;
    color: var(--primary-text-color);
}

.navbar-brand,
.nav-link,
.ms_navbar-toggler-icon {
    font-weight: bolder;
    color: var(--primary-text-color);
}

.navbar-toggler {
    border:1px solid white;
}

.navbar-toggler:focus {
    box-shadow: none;
}


/***************** HERO *****************/
.hero {
    width: 100%;
    background-color: var(--gb-color-primary);

}

.wrapper-hero {
    width: 80%;
    /* debug */
    margin-top: 7rem;
}

.photo {
    /* debug */
    width: 40%;
    aspect-ratio: 1/1;
    background-color: yellow;
}

.name {
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: bold;
}

.jobs {
    color: var(--primary-text-color);
    font-size: 1rem;
}

/*************** PORTFOLIO ****************/
[class*="prj-"] {
    /* debug */
    height: 250px;
    border: 1px solid black;
}

.prj-1 {
    background-color: #BA4B63;
}

.prj-2 {
    background-color: #1EA4B6;
}

.prj-3 {
    background-color: #140F0F;
}

.prj-4 {
    background-color: #1C83C1;
}

.prj-5 {
    background-color: #0E38B5;
}

.prj-6 {
    background-color: #CCB2A3;
}

/****************** ABOUT ******************/
.about {
    background-color: var(--gb-color-primary);
    color: var(--primary-text-color);
}

/* debug */
.download-btn {
    width: fit-content;
    border: 1px solid white;
}

/* /debug */


/******************* CONTACT ME ************/
.contact-me {
    width: 100%;
}
.form-section {
    width: 80%;
    /* debug */
    height: 500px;
    border: 1px solid black;
}

/****************** FOOTER **************/
footer {
    color: var(--primary-text-color);
}

/*************** footer-top *************/
.footer_top {
    background-color: var(--footer_top-bg-color);
}

/* debug */
.footer_top .col-12 {
    height: 200px;
    border: 1px solid white;
}

/* /debug */

/************* footer-bottom ***********/
.footer_bottom {
    background-color: var(--footer_bottom-bg-color);
}